@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --background-dark: 222 47% 11%;
  --foreground: 217 33% 17%;
  --foreground-dark: 210 40% 98%;
  --primary: 229 95% 64%;
  --radius: 0.5rem;
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
